# Copy to development/azure.env and source it before running local scripts.

export AZURE_SUBSCRIPTION_ID="cf83455a-73e2-41b7-b28b-fbbf1467713d"
export AZURE_TENANT_ID="b52aa991-8ac7-4b6c-8bc9-03fb21d0d4ac"
export AZURE_LOCATION="westeurope"
export AZURE_ENVIRONMENT="dev"
