# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.*
**/*.tfplan
**/tf.plan

# .NET / Azure Functions
**/bin/
**/obj/
**/local.settings.json

# OS/editor
.DS_Store
.vscode/
*.user
*.suo

# Logs
*.log
