<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="veeamvdc" value="https://nuget.pkg.github.com/Veeam-VDC/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <veeamvdc>
      <add key="Username" value="%GH_PACKAGES_USER%" />
      <add key="ClearTextPassword" value="%GH_PACKAGES_PAT%" />
    </veeamvdc>
  </packageSourceCredentials>
</configuration>
